
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
 .menu li {
    float: left;
  }
  
 .menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    margin-left: 80px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  .menu li a:hover {
    background-color: #111;
  }

  .profile {
      text-align: center;
  }

  .profile img {
      border-radius: 50%;
      max-width: 400px;
  }

  .education {
      padding-left: 50px;
      padding-bottom: 10px;
  }

  .experience {
      padding-left: 50px;
      padding-bottom: 10px;
  }

  .skills {
      padding-bottom: 10px;
      padding-left: 50px;
      padding-right: 50px;
  }

  .skills table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .skills td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
 .skills tr:nth-child(even) {
    background-color: #dddddd;
  }

  .interests {
      padding-left: 50px;
      padding-bottom: 10px;
  }

  .interests a {
      text-decoration: none;
      color: black;
  }

  .interests img {
      max-width: 500px;
  }

  #media {
    padding-left: 50px;
    padding-bottom: 10px;
    
}

.media span {
    display: inline-block;
    margin-left: 40px;
}

.favorite-sites {
    padding-left: 50px;
    padding-bottom: 10px;
}

.projects {
    padding-left: 50px;
    padding-bottom: 10px;
}